.recurring-expense-container {
  margin-top: 16px;
}

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #4fd1c5;
  box-shadow: 0 0 0 0 #4fd1c5;
  margin-left: 30px;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #4fd1c5;
};

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #4fd1c5;
};
