<div class="host-container">
  <div class="list-expense-container">
    <div class="card-body px-0 pb-2">
      <div class="table-responsive">
        <table class="align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">Label</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Montant</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Catégorie</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Date</th>
            </tr>
          </thead>
          <tbody>
            @for (expense of store.expenses(); track $index) {
            <tr>
              <td>
                <div class="d-flex px-3 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm font-weight-bold">{{expense.label}}</h6>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-secondary text-xs font-weight-bold">{{expense.amount}} €</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="badge badge-sm badge-teal">{{expense.tag}}</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{expense.date | date :"dd/MM/yyyy"}}</span>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
