.sidebar-container {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.menu-items {
  width: 219.5px;
  padding: 12px 0;
  border-radius: 15px;
  color: #a0aec0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 1px solid transparent;
}

.menu-items:hover:not(.isActive) {
  background-color: #f7fafc;
  color: #718096;
}

.isActive {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  transform: translateX(5px);
}

.svgIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #4fd1c5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.svgActive {
  background-color: #4fd1c5;
  color: white;
}

.items {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16.5px;
}

.size {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
