.expense-resume-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 240px;
  border-radius: 15px;
  padding: 30px 0;
  gap: 22px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

hr {
  width: 172px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(224, 225, 226, 0) 0%,
    rgba(224, 225, 226, 1) 50%,
    rgba(224, 225, 226, 0.16) 100%
  );
}

.svgIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-radius: 12px;
  background-color: #4fd1c5;
  color: white;
}

.size {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
