.expense-dashboard-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 20px 30px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.expense-header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid #4fd1c5;
}

.expense-items {
  display: flex;
  flex-direction: column;
  gap: 24.5px;
  margin-top: 22.5px;
}

.expense-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expense-items-header {
  display: flex;
  flex-direction: column;
  gap: 4.5px;

  span {
    color: #a0aec0;
  }
}
