.dashboard-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  gap: 47.5px;
  margin-top: 45px;
}

.sidebar {
  margin-left: 31px;
  width: 246.5px;
}

.dashboard {
 display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
