* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


body {
  background-color: #F8F9FA;
}

.overflow-visible-dialog .mat-mdc-dialog-container,
.overflow-visible-dialog .mat-mdc-dialog-surface,
.overflow-visible-dialog .mdc-dialog__surface {
  overflow: visible !important;
}

.overflow-visible-dialog mat-dialog-content,
.overflow-visible-dialog .mat-mdc-dialog-content {
  overflow: visible !important;
}
